# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [12]:
# How many neighborhood groups are available and which shows up the most?

air_bnb.groupby(['neighbourhood_group']).count()
# There are 5 neighborhood groups with Manhattan appearing the most umber of times

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [15]:
# Are private rooms the most popular in manhattan?

air_bnb.groupby(['neighbourhood_group','room_type']).count()
# No, the most popular are Entire home/apt

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [111]:
# Which hosts are the busiest and based on their reviews?

air_bnb.groupby('host_name').sum().sort_values('reviews_per_month')
# Michael is the busiest with 11,081 reviews. Next closest is David with 8,103.

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Kortney William,35805262,10745276,40.75993,-73.99074,225,2,0,0.00,1,270
Jayar,2089273,8956323,40.70867,-73.94799,180,2,0,0.00,1,0
Jayd,20173955,67754093,40.72013,-73.99220,135,14,0,0.00,1,0
Jayme,32066991,33386742,40.70298,-73.93834,80,1,0,0.00,1,5
Jaymes,25109044,444570,40.71445,-73.96201,275,5,0,0.00,1,0
...,...,...,...,...,...,...,...,...,...,...
John,5737372154,24525297065,11974.02914,-21743.58993,41892,2603,7223,321.02,2792,40249
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031
Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171

In [35]:
#Which neighorhood group has the highest average price?

air_bnb.groupby('neighbourhood_group').mean()['price'].sort_values(ascending = False)
# Manhattan has the highest average price

neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

In [38]:
# Which neighborhood group has the highest total price?

air_bnb.groupby('neighbourhood_group').sum()['price'].sort_values(ascending = False)
# Manhattan has the highest total price

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

In [43]:
#Which top 5 hosts have the highest total price?

air_bnb.groupby('host_name').sum().sort_values('price',ascending = False)['price']
# from highest to lowest:
# 1. Sonder (NYC)         82795
# 2. Blueground           70331
# 3. Michael              66895
# 4. David                65844
# 5. Alex                 52563

host_name
Sonder (NYC)         82795
Blueground           70331
Michael              66895
David                65844
Alex                 52563
                     ...
Carolann                12
Vishanti & Jeremy       10
Salim                   10
Qiuchi                   0
Aymeric                  0
Name: price, Length: 11452, dtype: int64

In [121]:
# Who currently has no (zero) availability with a review count of 100 or more?

popular = air_bnb[air_bnb['availability_365'] == 0][air_bnb['number_of_reviews'] >= 100]
popular = popular.sort_values('number_of_reviews',ascending = False)
popular
# popular.count() # To get the total number of unique hosts that fall under this criteria

# Wanda, Gurpreet Singh, Deloris, Veronica have the highest number of reviews
# There are 161 unique hosts that fall under this criteria, 162 total hosts with this criteria

<ipython-input-121-6e7e3879ec56>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  popular = air_bnb[air_bnb['availability_365'] == 0][air_bnb['number_of_reviews'] >= 100]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
471,166172,LG Private Room/Family Friendly,792159,Wanda,Brooklyn,Bushwick,40.70283,-73.92131,Private room,60,3,480,2019-07-07,6.70,1,0
9974,7670562,JFK 10 & LGA 15 MINUTES A/C PRIVATE BEDROOM,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69604,-73.82449,Private room,50,1,424,2018-11-25,8.86,5,0
9976,7675781,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BED...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69463,-73.82610,Private room,50,1,408,2018-11-24,8.56,5,0
22104,17779504,Relaxing Quiet Room Just 6 Mins from JFK Airport!,121391142,Deloris,Queens,Springfield Gardens,40.66535,-73.76367,Private room,65,1,368,2019-06-21,13.24,2,0
5876,4282178,A Superhost SALE! DELUXE Room!,21641206,Veronica,Brooklyn,Bedford-Stuyvesant,40.69724,-73.94914,Private room,53,1,351,2019-06-24,6.09,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19377,15462208,Spacious 2 Bedroom Apartment by Central Park,26073602,Anna,Manhattan,East Harlem,40.79575,-73.94817,Entire home/apt,145,2,101,2019-01-12,3.07,1,0
12375,9544914,"King Bed, Private Room in Crown Heights, Comedian",22423049,Abraham,Brooklyn,Crown Heights,40.67157,-73.94117,Private room,36,2,100,2017-07-31,2.28,1,0
16190,13065356,"""Quaint-Essential"" Living in the West Village",42399786,Braydon,Manhattan,West Village,40.73564,-73.99823,Entire home/apt,145,3,100,2018-09-15,2.62,1,0
19459,15523119,"3 bedroom, second floor and cozy",96148809,Raymond,Brooklyn,Bedford-Stuyvesant,40.68227,-73.93479,Entire home/apt,150,2,100,2019-07-05,3.26,1,0
18230,14283546,Adorable Crown Heights Home Away From Home,84141923,Marisha,Brooklyn,Crown Heights,40.66902,-73.93771,Private room,50,3,100,2019-02-19,2.81,2,0

In [183]:
# What host has the highest total of prices and where are they located?

bougie = air_bnb.groupby('host_name').sum().sort_values('price', ascending = False).head()
print(bougie)

# Sonders at latitude 13316.25823, longitude -24198.18856

                       id      host_id     latitude    longitude  price  \
host_name
Sonder (NYC)  10885561678  71782340547  13316.25823 -24198.18856  82795
Blueground     7210036953  24924786136   9451.60418 -17166.13165  70331
Michael        7430617239  22673153604  16984.89137 -30841.28573  66895
David          7943862898  28633613354  16414.34392 -29804.53757  65844
Alex           5496620312  19850092761  11361.10533 -20635.86235  52563

              minimum_nights  number_of_reviews  reviews_per_month  \
host_name
Sonder (NYC)            4353               1281             397.56
Blueground              7470                 29               6.04
Michael                 4600              11081             475.82
David                   3754               8103             508.61
Alex                    1651               6204             443.44

              calculated_host_listings_count  availability_365
host_name
Sonder (NYC)                          106929             98588
Blueground                             53824             58884
Michael                                 1043             38888
David                                    907             44171
Alex                                     475             30031

In [79]:
# When did Danielle from Queens last receive a review?

danielle = air_bnb[air_bnb['host_name'] == 'Danielle'][air_bnb['neighbourhood_group'] == 'Queens'].sort_values('last_review', ascending = False)
danielle['last_review'].iloc[0]

# both line 3 and 4 work. 
# line 3 will display the table if i call the variable 'danielle'.

# line 4 will just print the most recent date

# answer = 2019-07-08

<ipython-input-79-964961177273>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  danielle = air_bnb[air_bnb['host_name'] == 'Danielle'][air_bnb['neighbourhood_group'] == 'Queens'].sort_values('last_review', ascending = False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0

## Further Questions

1. Which host has the most listings?

In [99]:
most_listings = air_bnb.sort_values('calculated_host_listings_count', ascending = False)
most_listings['host_name'].iloc[0]
# answer = Sonder (NYC)

'Sonder (NYC)'

2. How many listings have completely open availability?

In [105]:
air_bnb[air_bnb['availability_365'] == 365].count()['id']
# answer = 1295

1295

3. What room_types have the highest review numbers?

In [110]:
total = air_bnb.groupby('room_type').sum()['number_of_reviews']
print(total)
mean = air_bnb.groupby('room_type').mean()['number_of_reviews']
print(mean)

# If looking for total number of reviews, Entire home/apt is the answer
# If looking for the highest average number of reviews, Private room is the answer

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64
room_type
Entire home/apt    22.842418
Private room       24.112962
Shared room        16.600000
Name: number_of_reviews, dtype: float64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
Which hosts are the busiest and why?

How many neighborhood groups are available and which shows up the most?
# There are 5 neighborhood groups with Manhattan appearing the most umber of times

Are private rooms the most popular in manhattan?
# No, the most popular are Entire home/apt

Which hosts are the busiest and based on their reviews?
# Michael is the busiest with 11,081 reviews. Next closest is David with 8,103.

Which neighorhood group has the highest average price?
# Manhattan has the highest average price

Which neighborhood group has the highest total price?
# Manhattan has the highest total price

Which top 5 hosts have the highest total price?
# from highest to lowest:
# 1. Sonder (NYC)         82795
# 2. Blueground           70331
# 3. Michael              66895
# 4. David                65844
# 5. Alex                 52563

Who currently has no (zero) availability with a review count of 100 or more?
# Wanda, Gurpreet Singh, Deloris, Veronica have the highest number of reviews
# There are 161 unique hosts that fall under this criteria, 162 total hosts with this criteria

What host has the highest total of prices and where are they located?
# Sonders at latitude 13316.25823, longitude -24198.18856

When did Danielle from Queens last receive a review?
# 2019-07-08